@import 'partials/variables';   /*ne qeder import olarsa olsun hamisi burada yazilacaq*/
@import "partials/navbar";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
}